
.tasks-list {
  background-color: rgba(0, 0, 0, 0.8);
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: flex;
  align-items: center;
  height: 50px;
  width: 95%;
  background-color: yellow;
  margin: 20px 0;
  padding: 0 20px;
}

.status-checkbox,
.task-name {
  line-height: 50px;
}

.status-checkbox {
  height: 15px;
  width: 15px;
  outline: none;
}

.task-name {
  padding: 0 20px;
}

.add-tasks {
  /* height: 85%; */
  margin-top: auto;
  border-radius: 5px;
  height: 60px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.3);
}

#tasks-input {
  border: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 0 25px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
