
.account-profile {
  border: thin solid rgba(255, 255, 255, 0);
  grid-template-columns: 70px;
  grid-template-rows: 25px;
  grid-template-areas:
      "icon name"
      "icon email";
  align-items: center;
  height: 50px;
  transition: 0.3s all ease-in-out;
}

.account-profile:hover {  
  border: thin solid rgba(255, 255, 255, 0.5);
}

.account-profile--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgb(255, 0, 234);
  margin: 0 0 0 20px;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: 0.4s all ease-in-out;
}

.profile-user-icon {
  font-family: none;
  font-size: 35px;
  height: 50px;
  transform: scale(1.5);
  color:rgb(0, 0, 0)
}

.account-profile--name,
.account-profile--email {
  color: white;
}

.account-profile--icon {
  grid-area: icon;
}
.account-profile--name {
  grid-area: name;
  align-self: end;
}
.account-profile--email {
  grid-area: email;
  align-self: baseline;
  font-size: 12px;
}